*
{margin: 0px auto;}
html, body
{height: 100%;}

#name  { padding: 35px 0; /* spacing above/below name */
      	font-family:  arial,helvetica,sans-serif;
             font-weight: bold;
             font-size: 30px;
             color: #000000; }


body       { height: 95%;
             background: #F2E9EE;
             font-family: arial,helvetica,sans-serif;
             color: #000000;
             margin-left: auto;
             margin-right: auto;
             width: 50em;}

.center
{
text-align: center;
}

/* general spacing */
.hpadded
{
padding-left: 70px;
padding-right: 70px;
}
.vpadded
{
padding-top: 25px;
padding-bottom: 25px;
}



#container
{
min-height: 100%;
margin: 0 auto -40px;
}

#footer, #push
{
height: 30px;
padding-top: 10px
}

a:link, a:visited, a:hover
{
	color: #660A87; /* link color */
}

a:link
{
	text-decoration: none;
	font-weight: normal;
}
a:visited
{
	text-decoration: none;
	font-weight: normal;
}
a:hover
{
	text-decoration: underline;
	font-weight: normal;
}
a:active
{
	text-decoration: bold;
}

 /*ul {
	display: table;
	list-style-type: none;
	text-align: center;
	padding: 0;
	overflow: hidden;
	background-color: #1C0449;  header bar background color 
	width: 100%;
}

li {
	display: table-cell;
	padding: 10px; /* vertical size of header bar 
}

li a {
	color: white;
	text-align: center;
	padding: 92px 50px; change the second number here to make sure that the links are wide enough 
	text-decoration: none;
	
}

li a:hover
{
	background-color: #900C3F;  link mouse over color
	text-decoration: none;
}*/

.social {
    display: inline-block;
    width: 20em;
    /* overflow: hidden; */
    padding: 0%;
    text-align: left;
    margin: 0;
}

.social li {
    list-style: none;
    background-repeat: no-repeat;
    padding: 0 0 1em 1.1em;
    text-indent: 0.1em;
text-align: left; 
}

.social li a {
    padding: 0 0 0.5em 1.4em;
text-align: left; 
}


.social li[data-type="twitter"] {
    Background-image: url(twitter3.png);
}

.social li[data-type="mail"] {
    Background-image: url(mail4.png);
}

